---
layout: default
---

<div class="home">


    <div style="clear: left;">
        <p style="float: left; margin:10px"><img src="assets/dlosey.jpeg" height="200" width="200" border="2px", ></p>
        <p>Welcome! I am a PhD candidate in neural computation and machine learning at Carnegie Mellon University. My research focuses on trying to understand how the brain learns and remembers motor movements, using concepts from statistics and machine learning.</p>
        <p> Reasoning about neural data is very difficult, as it is often high-dimensional and noisy. This requires an intimate knowledge of linear algebra, signal processing, high-dimensional statistics, and dimensionality reduction.</p>
        <p>At Carnegie Mellon, I work with <a href="https://users.ece.cmu.edu/~byronyu/">Byron Yu</a>, 
          <a href="https://chaselab.github.io/">Steve Chase</a> and
          <a href="https://www.engineering.pitt.edu/people/faculty/aaron-batista/">Aaron Batista</a>.
           I am also mentored by <a href="https://www.stat.cmu.edu/~kass/">Rob Kass</a>. My anticipated defense date is in spring 2023, after which I intend to work on building machine learning models in an industry setting.</p>
    </div>
    Please see my <a href="https://scholar.google.com/citations?user=1-D3mncAAAAJ&hl=en" target="_blank">Google Scholar profile</a>. Alternatively, I have linked a number of my publications below:
    <div style="clear: left;">
      <p style="float: left; margin:10px"><img src="assets/Learning.png" ></p>
      <p style="float: left; margin:10px"><img src="assets/opt.png" ></p>
      <p style="float: left; margin:10px"><img src="assets/brainnet.png" ></p>
      <p style="float: left; margin:10px"><img src="assets/Q.png" ></p>
      <p style="float: left; margin:10px"><img src="assets/maze.png" ></p>
  </div>

  <!-- <h1 class="page-heading">A few words on...</h1> -->
  <!-- {{ content }} -->

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li> -->
    <!-- {% endfor %} -->
  </ul>


</div>