---
layout: default
---

<div class="home">


    <div style="clear: left;">
        <p style="float: left; margin:10px"><img src="assets/dlosey.jpeg" height="200" width="200" border="2px", ></p>
        <p>Welcome! I am a PhD candidate in neural computation and machine learning at Carnegie Mellon University. My research focuses on trying to understand how the brain learns and remembers motor movements, using concepts from statistics and machine learning.
        <!-- <p> Reasoning about neural data is very difficult, as it is often high-dimensional and noisy. This requires an intimate knowledge of linear algebra, signal processing, high-dimensional statistics, and dimensionality reduction.</p>
        , after which I intend to work on building machine learning models in an industry setting.
        --> 
          I work with <a href="https://users.ece.cmu.edu/~byronyu/">Byron Yu</a>, 
          <a href="https://chaselab.github.io/">Steve Chase</a> and
          <a href="https://www.engineering.pitt.edu/people/faculty/aaron-batista/">Aaron Batista</a>.
           I am also mentored by <a href="https://www.stat.cmu.edu/~kass/">Rob Kass</a>. My anticipated defense date is in the spring of 2023.</p>
           <p>Previously, I worked at a start-up company where I used neural networks to classify EEG signals. I also completed my undergraduate in computer science and neurobiology at the University of Washington, where I researched under Rajesh Rao and Andrea Stocco on developing brain-computer interfaces.
           </p>
      </div>

    <div id="banner" style=" display: flex; text-align: center; float: left; margin:10px">
      <div class="" >
        <a href="../assets/Losey-resume.pdf" download="losey_resume.pdf">
          <img src="assets/resumepng.png", width="70%" >
        </a>
            </div>
      <div class="">
        <a href="https://scholar.google.com/citations?user=1-D3mncAAAAJ&hl=en", target="_blank">
        <img src="assets/scholarpng.png", width="70%">        
      </a>
      </div>
  </div>
  <p style="margin-bottom:2.5cm;"></p>

  <h2>Publications:</h2>
  <div style="clear: left;">
    <a href="https://www.biorxiv.org/content/10.1101/2022.07.05.498856v1", target="_blank">
      <p style="float: left; margin:10px"><img src="assets/Learning.png" ></p>
    </a>
    <a href="https://www.sciencedirect.com/science/article/pii/S0896627321006772?via%3Dihub", target="_blank">
      <p style="float: left; margin:10px"><img src="assets/opt.png" ></p>
    </a>
    <a href="https://www.nature.com/articles/s41598-019-41895-7", target="_blank">
      <p style="float: left; margin:10px"><img src="assets/brainnet.png" ></p>
    </a>
    <a href="https://www.frontiersin.org/articles/10.3389/frobt.2016.00072/full", target="_blank">
      <p style="float: left; margin:10px"><img src="assets/maze.png" ></p>
    </a>
    <a href="https://pubmed.ncbi.nlm.nih.gov/26398267/", target="_blank">
      <p style="float: left; margin:10px"><img src="assets/Q.png" ></p>
    </a>    
</div> 

<p style="margin-bottom:4cm;"></p>

<h2>Patent:</h2>
<div style="clear: left;">
  <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=1-D3mncAAAAJ&citation_for_view=1-D3mncAAAAJ:d1gkVwhDpl0C", target="_blank">
    <p style="float: left; margin:10px"><img src="assets/patent.png" ></p>
  </a>
</div> 


<h2>Select Class Projects:</h2>
<div style="clear: left;">
  <a href="../assets/pgm.pdf", download="pgm.pdf">
    <p style="float: left; margin:10px"><img src="assets/pgm.png" ></p>
  </a>
  <a href="../assets/convex.pdf", download="convex.pdf">
    <p style="float: left; margin:10px"><img src="assets/convex.png" ></p>
  </a>
  <a href="../assets/statml.pdf", download="stat_ml.pdf">
    <p style="float: left; margin:10px"><img src="assets/sml.png" ></p>
  </a>
  <a href="../assets/manifoldexplorer.pdf", download="manifold_explorer.pdf">
    <p style="float: left; margin:10px"><img src="assets/manifold.png" ></p>
  </a>
  
</div> 

  <!-- <h1 class="page-heading">A few words on...</h1> -->
  <!-- {{ content }} -->

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li> -->
    <!-- {% endfor %} -->
  </ul>


</div>